In [2]:
import pandas as pd

customer_features = pd.read_csv('../processed_data/customer_features.csv')

In [4]:
customer_features.head()

,customer_id,total_purchases,unique_products,purchase_days,avg_quantity,frequent_product,parent_category_id
0,0,20,13,10,1.111111,20664,"[3898, 600, 1682, 1062, 1623]"
1,1,18,14,10,1.200000,23055,"[3898, 370, 1178, 1543, 857]"
2,2,25,18,10,1.190476,23476,"[3898, 298, 1841, 1065, 1340]"
3,3,54,33,16,1.350000,18559,"[3898, 458, 3189, 1739, 257]"
4,4,39,22,13,1.695652,24047,"[3898, 2346, 1072, 2915, 2006]"

In [3]:
customer_features.describe()

,customer_id,total_purchases,unique_products,purchase_days,avg_quantity,frequent_product
count,46138.000000,46138.000000,46138.000000,46138.000000,46138.000000,46138.000000
mean,23068.500000,32.508865,19.429234,7.790281,1.449507,16701.285361
std,13319.037697,23.435234,11.498312,4.145716,0.709768,9511.142324
min,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,11534.250000,17.000000,11.000000,5.000000,1.151515,8445.000000
50%,23068.500000,27.000000,17.000000,7.000000,1.300000,17363.000000
75%,34602.750000,42.000000,25.000000,10.000000,1.545455,24815.000000
max,46137.000000,696.000000,127.000000,70.000000,40.000000,32769.000000