In [7]:
import pandas as pd
import numpy as np

product_catalog = pd.read_csv('../data/product_catalog.csv')
product_category_map = pd.read_csv('../data/product_category_map.csv')


product_catalog.head()

,product_id,manufacturer_id,attribute_1,attribute_2,attribute_3,attribute_4,attribute_5,categories
0,22665,861,4,0,490,2,66,"[2890, 855, 3908, 3909]"
1,28640,1366,10,1,537,0,101,NaN
2,13526,1090,10,0,511,0,0,"[3270, 163, 284, 1694, 12, 3837, 2422, 3595, 3..."
3,21399,1090,10,1,511,0,0,[3270]
4,8504,768,4,1,484,0,66,[2470]

In [8]:
product_catalog = product_catalog.drop(columns=["manufacturer_id","attribute_1", "attribute_2", "attribute_3", "attribute_4", "attribute_5"])
product_catalog.head(100)

    product_id                                         categories
0        22665                            [2890, 855, 3908, 3909]
1        28640                                                NaN
2        13526  [3270, 163, 284, 1694, 12, 3837, 2422, 3595, 3...
3        21399                                             [3270]
4         8504                                             [2470]
..         ...                                                ...
95       20693                                                NaN
96       14790                                                NaN
97       26906                                 [1591, 2312, 1283]
98         337                                       [1591, 1283]
99       27223                                       [3024, 3938]

[100 rows x 2 columns]

In [9]:
#product_catalog.to_csv('../processed_data/products_and_categories.csv', index=False)

products_and_categories = product_catalog

In [10]:
product_category_map.head(100)

    category_id  parent_category_id
0             0                  75
1             1                1499
2             2                1082
3             3                3498
4             4                1623
..          ...                 ...
95           95                 521
96           96                3870
97           97                2364
98           98                3849
99           99                2061

[100 rows x 2 columns]